* {
    font-family: Verdana, sans-serif;
    color: rgb(255, 255, 100);
    font-weight: bold; 
}


h1 {
    font-size: 40px;
    text-align: center; 
    font-weight: 100;
}

.heading {

    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 

}

.title {
    display: flex;
    max-width: fit-content;
    margin-inline: auto; 
}

#Drake {
    border: 10px solid #ea7724;
    border-radius: 25px;
    
}

body {
    background-color:#0093cf;
}


#name {
    color: #ea7724;
    font-size: 20px;
    font-weight: 700;
}


.footer {
    position: absolute; 
    bottom: 30px; 
    width: 300px;
}