* {
    font-family: Verdana, sans-serif;
    font-weight: bold; 
}


h1 {
    display: flex;
    font-size: 40px;
    text-align: center; 
    font-weight: 100;
}

.heading {

    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: rgb(255, 255, 255);

}

.title {
    display: flex;
    flex-direction: column;
    margin-inline: auto; 
}

.data {
    display: flex;
    flex-direction: column;
    margin-inline: auto; 
    color: rgb(217, 96, 45);
}

body {
    background-color:#0093cf;
}


.footer {
    position: absolute; 
    bottom: 30px; 
    width: 300px;
}