* {
    font-family: Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold; 
}


h1 {
    font-size: 40px;
    text-align: center; 
    font-weight: 100;
    
}

.heading {
    text-align: center;
    font-weight: bold;
    width:1200px;
    float: center; 

}
/* .main {
    width: 800px;
}
/* .title {
    display: inline-block;
    padding-left: 8px; 
    padding-right: 8px;
    margin-bottom: 20px;
} */

#Drake {
    border: 10px solid #ea7724;
    border-radius: 25px;
    
}

body {
    background-color:#0093cf;
}


#name {
    color: #ea7724;
    font-size: 20px;
    font-weight: 700;
}


.footer {
    position: absolute; 
    bottom: 30px; 
    width: 100px;
}